<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <client>
          <endpoint name="StudentskaSluzbaServis"
              address="net.tcp://localhost:4000/StudenskaSluzba"
              binding="netTcpBinding"
              contract="Common.IStudentskaSluzba" />

		    <endpoint name="ServisBezbednost"
			    address="net.tcp://localhost:4000/BezbedonosniMehanizam"
			    binding="netTcpBinding"
			    contract="Common.IBezbedonosniMehanizmi" />
    </client>
  </system.serviceModel>
</configuration>