<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Server.StudentskaSluzbaServis">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000" /> <!-- Promeniti u 4003 za drugi server -->
          </baseAddresses>
        </host>
        <endpoint address="StudenskaSluzba" 
                  binding="netTcpBinding"
                  contract="Common.IStudentskaSluzba" />
		  
		  <endpoint address="BezbedonosniMehanizam"
					binding="netTcpBinding"
					contract="Common.IBezbedonosniMehanizmi" />
	  </service>

      <service name="Server.Replikator">
			<host>
				<baseAddresses>
					<add baseAddress="net.tcp://localhost:4002" /> <!-- Promeniti u 4003 za drugi server -->
				</baseAddresses>
			</host>
			<endpoint address="Replikator"
					  binding="netTcpBinding"
					  contract="Common.IReplikator" />
		</service>
    </services>
  </system.serviceModel>
</configuration>