<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="storageType" value="DB"/> <!-- FileSystem / DB -->
    <add key="uploadPath" value="C:\temp\uploadFiles"/>
    <add key="uploaderType" value="Event"/> <!-- Background / Event -->
    
  </appSettings>
  <system.serviceModel>

    <client>
      <endpoint name="FileHandlingService"
                address="net.tcp://localhost:4002/ServiceFileHandling"
                binding="netTcpBinding"
                contract="Common.Interfaces.IFileHandling" />
    </client>

  </system.serviceModel>
</configuration>